body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: verdana;
  font-size: 35px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 25px;
}

.naviBar {
  font-family: verdana;
  border-bottom: "solid 1px";
  padding-bottom: "1rem";
}

.container {
  height: 86vh;
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

  margin: 25px 50px 75px 50px;
  display: block;
}
.container::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.contentBox {
  height: 98%;
  margin: 5px 10px 50px 10px;
  padding: 5px 10px 5px 10px;
  scroll-snap-align: start;
  border-style: solid;
  background-color: rgb(86, 180, 204);
}
.contentBox > p {
  font-family: verdana;
  color: white;
  font-size: 25px;
}
.contentBox > h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}

.containerB {
  height: calc(100vh - 10rem);
  width: calc(100% - 6rem);
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

  margin: 25px 50px 75px 50px;
  display: block;
}
.containerB::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.contentBoxB {
  height: calc(100% - 1rem);
  margin: 5px 10px 50px 10px;
  padding: 5px 10px 5px 10px;
  scroll-snap-align: start;
  border-style: solid;
  background-color: rgb(86, 180, 204);
}
.contentBoxB > p {
  font-family: verdana;
  color: white;
  font-size: 25px;
}
.contentBoxB > h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}

.containerC {
  height: calc(100vh - 10rem);
  width: calc(100% - 6rem);
  margin: 25px 50px 75px 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
}

.contentBoxC {
  margin: 5px 5px 50px 5px;
  padding: 5px 5px 5px 5px;
  block-size: min-content;
  border-style: solid;
  background-color: rgb(86, 180, 204);
}
.contentBoxC > p {
  font-family: verdana;
  color: white;
  font-size: 8px;
}
.contentBoxC > h2 {
  color: white;
  font-size: 25px;
  text-align: center;
}
